.rainbow {
    background: linear-gradient(135deg, #FEBCFF 0%, #FABEBE 100%);
}

.vh-50 {
    width: 100%;
    height: 50vh;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 100;
    font-size: 96px;
}